body {
    padding: 10px;
    background-color: #212121;
    color: #fff;
    font-family: serif;
}
.listing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.listing-item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 1px solid #000000;
    padding: 10px;
    margin-right: 60px;
}

.listing-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.img {
    
    object-fit: contain;
}
h1 {
    text-align: center;
    font-family: 'Georgia', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#username {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: -40px;
}

#pdp {
    height: 50px; /* Adjust the height as needed */
    width: 50px; /* Adjust the width as needed */
    object-fit: contain;
    margin-top: -50px;
    margin-right: 13px;
}

.username-text {
    text-align: right;
    margin-bottom: -20px;
}
.nav-item {
    position: relative;
    overflow: hidden;
    padding: 10px;
    font-family: sans-serif;
}
.nav-item::after{
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #12cfb6;
    transform: scale(1);
}

.nav-item:hover::after{
    transform: scale(1);
}

a {
    color: bisque;
}

a:hover {
    color:burlywood;
}

#h2 {
    text-align: center;
    font-family: serif;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    margin-top: 10px;
    margin-left: 375px;
}
  
.cssbuttons-io-button svg {
    margin-right: 6px;
}
  
.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}
  
.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group textarea {
    padding: 2px;
    margin: 0; /* Remove default margins to ensure alignment */
}

.wb {
    display: block;
    clear: both;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 83%;
    margin-bottom: 60px;
}


.item-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    border: solid 1px #12cfb6;
}

.item-image {
    flex: 1;
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.item-image img {
    max-width: 100%;
    height: auto;
}

.item-details {
    flex: 2;
}
.item-bid {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.input-bid {
    flex: 1;
    margin-right: 10px;
}

.bid-button {
    flex: 1;
}
footer {
    
}

#png {
    
}