{% extends "auctions/layout.html" %}

{% block title %}
    The {{ item.title }}
{% endblock %}

{% block body %}

   <div class="item-container">
        <div class="item-image">
            {% if item.image_URL %}
                <img src="{{item.image_URL}}" alt="{{item.title}}">
            {% else %}
                No images for this Product !
            {% endif %}
        </div>
        <div class="item-details">
            <div class="wb">
                {% if item in user.watchlist.all %}
                    <a href="{% url 'watchlist' item.id %}" class="btn btn-danger">Remove from Watchlist</a>
                {% else %}
                    <a href="{% url 'watchlist' item.id %}" class="btn btn-success">Add to Watchlist</a>
                {% endif %}
            </div>
            <div>
                <h4>{{ item.title }}</h4>
                <h4>Price: ${{ item.price }}</h4>
            </div>
            <div>
                <p>{{ item.description }}</p>
            </div>
            <div class="item-bid">
                
                <div class="input-bid">
                    <form method="post">
                        {% csrf_token %}
                        {{bid_form.as_p}}
                        <button type="submit" class="btn btn-primary">BID!</button>
                    </form>
                {% if message %}
                    <div class="alert alert-{{al}}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</body>

{% endblock %}

{% load static %}

{% block footer %}
    <div class="footer">
        <div class="row">
            <div class="col">
                <img id="png" src="{% static 'auctions/auction.png' %}" alt="auction">
                <p>
                    So i think that you liked my product if you wanna contact us we'll leave our data for you
                </p>
            </div>
            <div class="col">
                <h5>Leave your comment here:</h5>
                <div class="comments-sec">
                    <div class="new-comment">
                        <form method="post" action="{% url 'add_comment' item.id %}" onsubmit="reloadPage()">
                        {% csrf_token %}
                            <input type="text" placeholder="Enter you comment here..." name="comment">
                            <button type="submit" class="btn btn-primary">Add+</button>
                        </form>    
                    </div>
                    <div class="others-comments">
                
                </div>
            </div>
            </div>
            <div class="col">
                {% for comment in comments %}

                    {% if comment.item_id.id == item.id %}

                        <div class="comment">
                            <div class="customer">{{ comment.customer}}:</div>
                            <div class="content">{{ comment.content }}</div>
                        </div>
                    {% endif %}
                    
                {% endfor %}   
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}