{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h1>Watchlist</h1>
    {% for listing in watchlists %}
        <div>
            <div class="listing-item">
                {% if listing.image_URL %}
                    <img src="{{listing.image_URL}}" alt="{{listing.title}}" class="img">
                {% else %}
                    No images for this Product !
                {% endif %}
                <div class="listing-details">
                    <h4>{{ listing.title }}</h4>
                    <h5>Price: ${{ listing.price }}</h5>
                    <a href="{% url 'items' listing.id %}" class="btn btn-primary" style="font-family: sans-serif;">BID NOW!</a>
                </div>
            </div>
        </div>
       
    {% endfor %}   
{% endblock %}